<launch>

	<node type="laser_scan_assembler" pkg="laser_assembler" name="my_assembler">
		<remap from="scan" to="pr2/tilt_scan"/>
		<param name="max_scans" type="int" value="400" />
		<param name="fixed_frame" type="string" value="base_link" />
	</node>

	<!--<node name="pr2_sim_laser_link" type="static_transform_publisher" pkg="tf" args="0 0 0 0 0 0 laser_tilt_link pr2/laser_tilt_link 50"/>-->

	<node name="tilt_scan" pkg="tilt_scan" type="assemble_scans.py"/>
</launch>
