<launch>
    <node name="baxter_interface" pkg="unr_object_manipulation" type="peer_connection_interface.py" output="screen">
   		<rosparam file="$(find table_task_sim)/config/DARS_test.yaml"/>
        <param name="robot" value="BAXTER"/>
        <param name="pub_port" value="5565"/>
        <param name="sub_port" value="5566"/>
    </node>
</launch>
